#topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  height: 60px;
}

#logo {
  margin: 0;
  font-family: "Panton", sans-serif;
  color: #ffffff;
  font-size: 24px;
}

#logo #sense {
  color: #00FF00;
}

#download-button {
  background-color: #ffffff;
  border: none;
  color: #00FF00;
  font-family: "Panton", sans-serif;
  font-size: 16px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block
}
